{% extends "base/base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}

<div class="ltn__utilize-overlay"></div>


<style>
    /* Example CSS for styling dropdown */
.custom-dropdown {
    width: 100% ; /* Adjust width as needed */
    padding: -1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    color: #333;
}

.custom-dropdown option {
    padding: -1px;
    font-size: 14px;
    color: #333;
}
</style>

<div class="ltn__utilize-overlay"></div>

    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image "  data-bs-bg="img/bg/14.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner">
                        <h1 class="page-title">Checkout</h1>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="index.html"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
                                <li>Checkout</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <!-- WISHLIST AREA START -->
    <div class="ltn__checkout-area mb-105">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__checkout-inner">
                        <div class="ltn__checkout-single-content ltn__returning-customer-wrap">
                            <h5>Returning customer? <a class="ltn__secondary-color" href="#ltn__returning-customer-login" data-bs-toggle="collapse">Click here to login</a></h5>
                            <div id="ltn__returning-customer-login" class="collapse ltn__checkout-single-content-info">
                                <div class="ltn_coupon-code-form ltn__form-box">
                                    <p>Please login your account.</p>
                                    <form action="#" >
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-item input-item-name ltn__custom-icon">
                                                    <input type="text" name="ltn__name" placeholder="Enter your name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-item input-item-email ltn__custom-icon">
                                                    <input type="email" name="ltn__email" placeholder="Enter email address">
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn theme-btn-1 btn-effect-1 text-uppercase">Login</button>
                                        <label class="input-info-save mb-0"><input type="checkbox" name="agree"> Remember me</label>
                                        <p class="mt-30"><a href="register.html">Lost your password?</a></p>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="ltn__checkout-single-content ltn__coupon-code-wrap">
                            <h5>Have a coupon? <a class="ltn__secondary-color" href="#ltn__coupon-code" data-bs-toggle="collapse">Click here to enter your code</a></h5>
                            <div id="ltn__coupon-code" class="collapse ltn__checkout-single-content-info">
                                <div class="ltn__coupon-code-form">
                                    <p>If you have a coupon code, please apply it below.</p>
                                    <form id="coupon-form" method="post" action="{% url 'apply_coupon' %}">
                                        {% csrf_token %}
                                        <input type="text" name="coupon_code" placeholder="Coupon code" required>
                                        <button type="submit" class="btn theme-btn-2 btn-effect-2 text-uppercase">Apply Coupon</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="ltn__checkout-single-content mt-50">
                            <h4 class="title-2">Billing Details</h4>
                            <div class="ltn__checkout-single-content-info">
                                <form method="post" id="myform">
                                    {% csrf_token %}
                                
                                    <!-- Order Form Fields (Hidden Fields) -->
                                    {{ order_form.as_p }}
                                

                                                                        <!-- Select Existing Address Section -->
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="input-item">
                                                                                    <label for="id_existing_address">Returning customer?</label> 
                                                                                    <select id="id_existing_address" name="existing_address" class="custom-dropdown">
                                                                                        <!-- Placeholder option -->
                                                                                        <option value="" {% if not address_form.instance.pk %}selected{% endif %}>
                                                                                            {{ address_form.fields.existing_address.empty_label }}
                                                                                        </option>
                                                                                        
                                                                                        <!-- Existing addresses options -->
                                                                                        {% for address in address_form.fields.existing_address.queryset %}
                                                                                            <option value="{{ address.id }}">{{ address }}</option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                    <!-- Personal Information Section -->
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="{{ address_form.first_name.id_for_label }}">First Name:</label>
                                                {{ address_form.first_name }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="{{ address_form.last_name.id_for_label }}">Last Name:</label>
                                                {{ address_form.last_name }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="{{ address_form.email.id_for_label }}">Email:</label>
                                                {{ address_form.email }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="{{ address_form.phone.id_for_label }}">Phone:</label>
                                                {{ address_form.phone }}
                                            </div>
                                        </div>
                                    </div>
                                

                                
                                    <!-- Country, Address, City, State, Zip Section -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="country">Country:</label>
                                            <div class="input-item">
                                                {{ address_form.country|add_class:"custom-dropdown custom-country-dropdown" }}
                                            </div>
                                        </div>
                                        </div>


                                        <div class="col-lg-12 col-md-12">
                                            <h6>Address</h6>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ address_form.address_line_1 }}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ address_form.address_line_2 }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <h6>Town / City</h6>
                                            <div class="form-group">
                                                {{ address_form.city }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <h6>State</h6>
                                            <div class="form-group">
                                                {{ address_form.state }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <h6>Zip</h6>
                                            <div class="form-group">
                                                {{ address_form.zipcode }}
                                            </div>
                                        </div>
                                    </div>
                                
                                    <!-- Order Notes and Checkbox Section -->
                                    <div class="form-group">
                                        <p><label class="input-info-save mb-0"><input type="checkbox" name="agree"> Create an account?</label></p>
                                    </div>
                                    <h6>Order Notes (optional)</h6>
                                    <div class="form-group">
                                        <textarea class="form-control" name="ltn__message" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                    </div>
                                
                                    <!-- Submit Button -->
                                    <!-- <button type="submit" class="btn btn-primary" id="inside_form_paypal">Place Order</button> -->
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ltn__checkout-payment-method mt-50">
                            <h4 class="title-2">Payment Method</h4>
                            <div id="checkout_accordion_1">
                                <!-- card -->
                                <div id="paypal-button-container"></div>

                            </div>
                            <div class="ltn__payment-note mt-30 mb-30">
                                <p>Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our privacy policy.</p>
                            </div>
                            <!-- <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">Place order</button> -->
                        </div>
                    </div>
                
                    <div class="col-lg-6">
                        <div class="shoping-cart-total mt-50">
                            <h4 class="title-2">Cart Totals</h4>
                            <table class="table">
                                <tbody>
                                    {% for item in cart_products %}
                                        <tr>
                                            <td>{{item.product.name}} <strong>× {{item.quantity}}</strong></td>
                                            <td>${{item.product.price}}</td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td>Shipping and Handling</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>VAT</td>
                                        <td>$00.00</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Order Total</strong></td>
                                        <td><strong>$<span id="totalAmount">{{total}}</span></strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <!-- CALL TO ACTION START -->
                <div class="ltn__call-to-action-area call-to-action-6 before-bg-bottom" data-bs-bg="img/1.jpg--">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="call-to-action-inner call-to-action-inner-6 ltn__secondary-bg position-relative text-center---">
                                    <div class="coll-to-info text-color-white">
                                        <h1>Buy medical disposable face mask <br> to protect your loved ones</h1>
                                    </div>
                                    <div class="btn-wrapper">
                                        <a class="btn btn-effect-3 btn-white" href="shop.html">Explore Products <i class="icon-next"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CALL TO ACTION END -->


    <script src="https://www.paypal.com/sdk/js?client-id=AVXte74e632-CStSg55zmMRnouiMP-2ZuOV4qz53R7CKai515IOBrXL0mHbbgfwvDGFfs96PGNxnEOzc"></script>
<!-- 
    <script>
        // Function to get the latest total amount
        function getTotalAmount() {
            return parseFloat($('#totalAmount').text()).toFixed(2);
        }
    
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
            // Call your server to set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: getTotalAmount()  // Use the updated total amount
                        }
                    }]
                });
            },
    
            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' +
                    details.payer.name.given_name + '!');
                    document.getElementById("myform").submit();
                });
            }
    
        }).render('#paypal-button-container');
    </script> -->

    <script>
        // Function to get the latest total amount
        function getTotalAmount() {
            return parseFloat($('#totalAmount').text()).toFixed(2);
        }
    
        // Function to validate the form fields
        function validateForm() {
            var isValid = true;
    
            // Example of field validation - adjust these selectors and checks to your actual form fields
            if ($('#id_first_name').val().trim() === '') {
                isValid = false;
                alert('Please fill in the required Fields');
            }
            if ($('#id_last_name').val().trim() === '') {
                isValid = false;
                alert('Please fill in the required Fields');
            }
            if ($('#id_email').val().trim() === '') {
                isValid = false;
                alert('Please fill in the required Fields');
            }
            if ($('#id_phone').val().trim() === '') {
                isValid = false;
                alert('Please fill in the required Fields');
            }
            // Add more validation checks as needed...
    
            return isValid;
        }
    
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
            // Call your server to set up the transaction
            createOrder: function(data, actions) {
                // Validate the form before creating the order
                if (!validateForm()) {
                    return; // Exit if validation fails
                }
    
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: getTotalAmount()  // Use the updated total amount
                        }
                    }]
                });
            },
    
            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' +
                    details.payer.name.given_name + '!');
                    document.getElementById("myform").submit(); // Submit the form after successful payment
                });
            }
    
        }).render('#paypal-button-container');
    </script>
<script>
    $(document).ready(function() {
        $('#id_existing_address').change(function() {
            var addressId = $(this).val();
            if (addressId) {
                $.ajax({
                    url: '{% url 'get_address_details' %}',
                    data: {
                        'address_id': addressId
                    },
                    dataType: 'json',
                    success: function(data) {
                        console.log("Data received from server:", data); // Debugging log
    
                        $('#id_first_name').val(data.first_name);
                        $('#id_last_name').val(data.last_name);
                        $('#id_email').val(data.email);
                        $('#id_address_line_1').val(data.address_line_1);
    
                        // Set the country code for the CountryField and trigger change event
                        if (data.country) {
                            $('#id_country').val(data.country); // Set the country value
                            $('#id_country').change(); // Trigger change event to update the frontend
                            console.log("Country set to:", data.country); // Debugging log
                        } else {
                            console.log("Country data not found"); // Debugging log
                        }
    
                        $('#id_state').val(data.state);
                        $('#id_city').val(data.city);
                        $('#id_zipcode').val(data.zipcode);
                        $('#id_phone').val(data.phone);
                    },
                    error: function(xhr, status, error) {
                        console.log("Error in AJAX request:", status, error); // Debugging log
                    }
                });
            } else {
                // Clear form fields if no address selected
                $('#id_first_name').val('');
                $('#id_last_name').val('');
                $('#id_email').val('');
                $('#id_address_line_1').val('');
                $('#id_country').val('');
                $('#id_state').val('');
                $('#id_city').val('');
                $('#id_zipcode').val('');
                $('#id_phone').val('');
            }
        });
    });
    </script>


<script>
    $(document).ready(function() {
    $('#coupon-form').on('submit', function(e) {
        e.preventDefault();  // Prevent the default form submission
        
        var form = $(this);
        var url = form.attr('action');
        var couponCode = form.find('input[name="coupon_code"]').val();

        $.ajax({
            url: url,
            type: 'POST',
            data: form.serialize(),
            success: function(response) {
                if (response.success) {
                    // Update the total amount displayed on the page
                    $('#totalAmount').text(response.new_total);
                    // Optional: Display a success message
                    alert("Coupon applied successfully! New total: $" + response.new_total);
                } else {
                    // Optional: Display an error message
                    alert("Invalid coupon code. Please try again.");
                }
            },
            error: function(xhr, status, error) {
                console.error("Error applying coupon:", error);
                alert("An error occurred. Please try again.");
            }
        });
    });
});

</script>


<script>
    $(document).ready(function() {
        $('#id_existing_address').change(function() {
            var addressId = $(this).val();
            if (addressId) {
                $.ajax({
                    url: '{% url 'get_address_details' %}',
                    data: {
                        'address_id': addressId
                    },
                    dataType: 'json',
                    success: function(data) {
                        console.log("Data received from server:", data); // Debugging log

                        // Update form fields with received data
                        $('#id_first_name').val(data.first_name);
                        $('#id_last_name').val(data.last_name);
                        $('#id_email').val(data.email);
                        $('#id_address_line_1').val(data.address_line_1);

                        // Update the country dropdown
                        if (data.country) {
                            var countryCode = data.country; // The country code returned from the server
                            var countrySelect = $('.custom-country-dropdown'); // Target your specific country <select>

                            // Update the native <select> element
                            countrySelect.val(countryCode).change();

                            // Update the custom dropdown UI
                            var customDropdown = $('.nice-select.custom-country-dropdown'); // Target your custom dropdown

                            if (customDropdown.length) {
                                // Update the custom dropdown UI text
                                var countryText = countrySelect.find('option:selected').text();
                                customDropdown.find('span.current').text(countryText);

                                // Update the custom dropdown list
                                customDropdown.find('li[data-value="' + countryCode + '"]').addClass('selected').siblings().removeClass('selected');
                            }

                            console.log("Country dropdown updated to:", countryCode); // Debugging log
                        } else {
                            console.log("Country data not found"); // Debugging log
                        }
                    },
                    error: function(xhr, status, error) {
                        console.log("Error in AJAX request:", status, error); // Debugging log
                    }
                });
            } else {
                // Handle case where no address is selected, if needed
                $('.custom-country-dropdown').val(''); // Clear the country field if no address is selected

                // Update the custom dropdown UI

            }
        });
    });
</script>



{% endblock %}
